#header{
    border-bottom: 1px solid rgb(228, 232, 236);
    padding: 1rem;
    // color: #fff;
    .logo,.desktop-menu,.right-header{
        display: flex;
        align-items: center;
    }
    .desktop-menu{
        &.active{
            // display: block;
            position: fixed;
            background: #fff;
            left: 0px;
            width: 100%;
            height: 100%;
            visibility: visible;
            opacity: 1;
            left: 0;
            // transition: all .3s ease-in-out;
            ul{
                flex-direction: column;
            }
        }
        ul{
            display: flex;
            list-style: none;
            li{
                padding: 0px 10px;
                a{
                    color: #2D3748;
                    text-transform: uppercase;
                    font-weight: bold;
                    transition: all 0.3s ease;
                    &:hover{
                        color: $main_bkg;
                    }
                }
            }
        }
    }
   
    #menu-menu-header{
        a{
            color: #000;
            font-size: 1.25rem;
            padding-right: 1rem;
            font-weight: 600;
        }
        .sub-menu{
            display: none;
            position: absolute;
            top: 30px;
            background: #fff;
            box-shadow: 4px 4px 50px rgba(0,0,0,0.15);
            z-index: 99;
            padding: 1rem 0px;
            min-width: 250px;
            // position: relative;
            li{
                margin-bottom: 0.25rem;
            }
            a{
                display: inline-block;
                width: 100%;
                font-size: 1rem;
                padding: 0.25rem 1rem ;
                &:hover{
                    background: rgba(240, 64, 123, 0.1);
                }
            }
        }
        li{
            position: relative;
        }
        li:hover .sub-menu{
            display: block;
        }
    }
}
.logo{
    max-width: 200px;
}
#header #btn-menu-responsive .bar1, #header #btn-menu-responsive .bar2, #header #btn-menu-responsive .bar3 {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 6px;
}
.m-mobile,.m-menu {
    display: none;
}
#btn-menu-responsive{
    background: none;
    border: none;
    &.active{
        .bar1{
            transform: rotate(45deg) translate(6px,7px);
        }
        .bar2{
            opacity: 0;
        }
        .bar3{
            transform: rotate(-45deg) translate(4px,-6px);
        }
    }
}


#header{
    position: sticky;
    top: 0;
    background-color: #fff;
    transition: all .2s ease-in-out 0s;
    box-shadow: -2px 3px 5px rgba(0,0,0,0.1);
    z-index: 999;
}
.post-time{
    color:green;
}
.header-search{
    .h-search-icon{
        cursor: pointer;
        padding: 10px;
    }
    .h-search-close{
        position: absolute;
        top: 10px;
        right: -10px;
        z-index: 3;
        cursor: pointer;
    }
    .h-search-wrap{
        transition: .3s;
        align-items: center;
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        padding: 0 15%;
        background-color: #000000F0;
        overflow: hidden;
        opacity: 0;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        &.s-active{
            transform: scale(1);
            opacity: 1;
        }
        .h-search-inpt{
            display: flex;
            align-items: start;
            justify-content: center;
            height: 100%;
            top: 100px;
            position: relative;
            padding-top: 50px;
            width: 600px;
            margin: 0px auto;
            .h-search{
                position: relative;
                background: #fff;
                width: 100%;
                display: flex;
                flex-direction: column;
                border-radius: 6px;
                transition: all 0.3s ease;
                overflow: hidden;
                .h-search-form{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 2px solid #eee;
                }
                input{
                    width: calc(100% - 45px);
                    border: none;
                    &:focus{
                        border: none;
                    }
                }
                svg{
                    width: 45px;
                    height: 25px;
                    font-size: 20px;
                    display: flex;
                    align-content: center;
                    margin-right: 0px;
                }
            }
            .spinner-border {
                display: none;
                width: 25px;
                height: 25px;
                vertical-align: text-bottom;
                border: 0.15em solid #ddd;
                border-right-color: transparent;
                border-radius: 50%;
                -webkit-animation: spinner-border .75s linear infinite;
                animation: spinner-border .75s linear infinite;
            }
            @keyframes spinner-border {
                100% {
                    -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
                }
            }
            .h-search-content{
                padding: 15px;
                max-height: 500px;
                overflow-y: scroll;
                &::-webkit-scrollbar {
                    width: 10px;
                    background-color: #eee;
                }
                &::-webkit-scrollbar-thumb {
                    border-radius: 4px;
                   
                    background-color: rgb(145, 142, 142);
                }
                &::-webkit-scrollbar-track {
                    border-radius: 4px;
                    margin: 8px;
                    padding-right: 6px;
                }
                .h-search-count{
                    color:#8694a3;
                    span{
                        color: $main_bkg;
                    }
                   
                }
                .h-search-item{
                    gap: 10px;
                    border-bottom: 1px solid #eee;
                    padding: 5px 0px;
                    .title{
                        a{
                            color:#ff3850;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                        .sub{
                            font-size: 15px;
                            color: #8694a3;
                        }
                    }
                    .img{
                        height: 60px;
                        width: 60px;
                        flex-shrink: 0;
                    }
                    img{
                        width: 100%;
                        height: 60px;
                        object-fit: cover;
                        border-radius: 6px;
                    }
                }
            }
        }
    }
}
.m-search{
    display: none;
}
.mh-search{display: none;}
.sub-menu .current-menu-item a{
    color:#ff3850 !important;
}
@media (max-width:991px){
    .m-search{
        display: block;
    }
    .m-mobile,.m-menu {
        display: flex;
    }
    .desktop-menu .header-search{
        display: none;
    }
    
    #header{
        .desktop-menu{
            // display: none;
            transition: left .3s ease;
            visibility: hidden;
            opacity: 0;
            left: -100%;
            top: 90px;
            position: absolute;
            display: unset;
            padding: 20px 10px;
            ul{
                li{
                    padding: 0px;
                    padding-bottom: 15px;
                }
            }
        }
        .header-wrapper{
            align-items: center;
        }
        .header-search .h-search-icon{
            display: none;
        }
    }
    .header-search .h-search-wrap .h-search-inpt{
        top: 15px;
    }
    .header-search .h-search-wrap .h-search-inpt .h-search-content .h-search-item .title .sub{
        display: none;
    }
}

@media (max-width:575px){
    .logo {
        max-width: 150px;
    }
    .header-search .h-search-wrap {
        padding: 0px 15px;
        .h-search-inpt{
            width: 100%;
        }
    }
}