@import "common/common";
@import "common/header";
@import "common/footer";
@import "common/bio1-layout";
@import "common/login";
@import "common/single";
@import "common/category";

// @import "common/header";
// @import "common/footer";
// @import "common/archive";

// body{
//     position: relative;
//     &:after{
//         position: absolute;
//         content: '';
//         width: 100%;
//         height: 100%;
//         background: rgba(0,0,0,0.5);
//         top: 0;
//         left: 0;
//     }
// }
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html{
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
}
body::-webkit-scrollbar {
    width: 10px;
    background-color: #eee;
}
body::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgb(145, 142, 142);
}
body::-webkit-scrollbar-track {
    border-radius: 4px;
    margin: 8px;
    padding-right: 6px;
}

.pagi,.pagi-search{
    .paginate_links,.nav-links{
         display: flex;
    }
     display: table;
     margin: 30px auto;
     a,span{
         border: 1px solid #eee;
         padding: 4px;
         height: 40px;
         padding: 6px 14px;
         display: flex;
         align-items: center;
         &.current{
             color: #f0407b;
         }
         &:hover{
             background-color: #e9ecef;
         }
     }
 }
 