.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.fw-bold {
  font-weight: bold;
}

input {
  height: 45px;
  border: 1px solid #eee;
  outline: none;
  padding: 12px;
  border-radius: 6px;
  font-size: 16px;
  transition: all 0.3s ease;
}
input:focus {
  border: 1px solid #f0407b;
}

button[type=submit] {
  min-width: 100px;
  background: unset;
  padding: 16px;
  border: none;
  margin: 15px 0px;
}

a {
  text-decoration: none;
}

::-moz-selection {
  color: #fff;
  background: #0d6efd;
}

::selection {
  color: #fff;
  background: #0d6efd;
}

html {
  height: 100%;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

.common-btn {
  background: #ff3850;
  color: #fff;
  padding: 5px 16px;
  border-radius: 3px;
  font-weight: bold;
  min-height: 45px;
  margin-bottom: 15px;
}

body, input, select, optgroup, textarea {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 1.6;
}

svg {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-normal {
  display: flex;
  align-items: center;
}

.no-scroll {
  overflow: hidden;
}

a {
  color: #000;
}

#header {
  border-bottom: 1px solid rgb(228, 232, 236);
  padding: 1rem;
}
#header .logo, #header .desktop-menu, #header .right-header {
  display: flex;
  align-items: center;
}
#header .desktop-menu.active {
  position: fixed;
  background: #fff;
  left: 0px;
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 1;
  left: 0;
}
#header .desktop-menu.active ul {
  flex-direction: column;
}
#header .desktop-menu ul {
  display: flex;
  list-style: none;
}
#header .desktop-menu ul li {
  padding: 0px 10px;
}
#header .desktop-menu ul li a {
  color: #2D3748;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s ease;
}
#header .desktop-menu ul li a:hover {
  color: #ff3850;
}
#header #menu-menu-header a {
  color: #000;
  font-size: 1.25rem;
  padding-right: 1rem;
  font-weight: 600;
}
#header #menu-menu-header .sub-menu {
  display: none;
  position: absolute;
  top: 30px;
  background: #fff;
  box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.15);
  z-index: 99;
  padding: 1rem 0px;
  min-width: 250px;
}
#header #menu-menu-header .sub-menu li {
  margin-bottom: 0.25rem;
}
#header #menu-menu-header .sub-menu a {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
  padding: 0.25rem 1rem;
}
#header #menu-menu-header .sub-menu a:hover {
  background: rgba(240, 64, 123, 0.1);
}
#header #menu-menu-header li {
  position: relative;
}
#header #menu-menu-header li:hover .sub-menu {
  display: block;
}

.logo {
  max-width: 200px;
}

#header #btn-menu-responsive .bar1, #header #btn-menu-responsive .bar2, #header #btn-menu-responsive .bar3 {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px 0;
  transition: 0.4s;
  border-radius: 6px;
}

.m-mobile, .m-menu {
  display: none;
}

#btn-menu-responsive {
  background: none;
  border: none;
}
#btn-menu-responsive.active .bar1 {
  transform: rotate(45deg) translate(6px, 7px);
}
#btn-menu-responsive.active .bar2 {
  opacity: 0;
}
#btn-menu-responsive.active .bar3 {
  transform: rotate(-45deg) translate(4px, -6px);
}

#header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  transition: all 0.2s ease-in-out 0s;
  box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.post-time {
  color: green;
}

.header-search .h-search-wrap {
  transition: 0.3s;
  align-items: center;
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  padding: 0 15%;
  background-color: rgba(0, 0, 0, 0.9411764706);
  overflow: hidden;
  opacity: 0;
  transform: scale(0);
}
.header-search .h-search-wrap.s-active {
  transform: scale(1);
  opacity: 1;
}
.header-search .h-search-wrap .h-search-inpt {
  display: flex;
  align-items: start;
  justify-content: center;
  height: 100%;
  top: 100px;
  position: relative;
}
.header-search .h-search-wrap .h-search-inpt .h-search {
  background: #fff;
  width: 600px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  transition: all 0.3s ease;
  overflow: hidden;
}
.header-search .h-search-wrap .h-search-inpt .h-search .h-search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #eee;
}
.header-search .h-search-wrap .h-search-inpt .h-search input {
  width: calc(100% - 45px);
  border: none;
}
.header-search .h-search-wrap .h-search-inpt .h-search input:focus {
  border: none;
}
.header-search .h-search-wrap .h-search-inpt .h-search svg {
  width: 45px;
  height: 25px;
  font-size: 20px;
  display: flex;
  align-content: center;
  margin-right: 0px;
}
.header-search .h-search-wrap .h-search-inpt .spinner-border {
  display: none;
  width: 25px;
  height: 25px;
  vertical-align: text-bottom;
  border: 0.15em solid #ddd;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
}
@-webkit-keyframes spinner-border {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner-border {
  100% {
    transform: rotate(360deg);
  }
}
.header-search .h-search-wrap .h-search-inpt .h-search-content {
  padding: 15px;
  max-height: 500px;
  overflow-y: scroll;
}
.header-search .h-search-wrap .h-search-inpt .h-search-content::-webkit-scrollbar {
  width: 10px;
  background-color: #eee;
}
.header-search .h-search-wrap .h-search-inpt .h-search-content::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgb(145, 142, 142);
}
.header-search .h-search-wrap .h-search-inpt .h-search-content::-webkit-scrollbar-track {
  border-radius: 4px;
  margin: 8px;
  padding-right: 6px;
}
.header-search .h-search-wrap .h-search-inpt .h-search-content .h-search-count {
  color: #8694a3;
}
.header-search .h-search-wrap .h-search-inpt .h-search-content .h-search-count span {
  color: #ff3850;
}
.header-search .h-search-wrap .h-search-inpt .h-search-content .h-search-item {
  gap: 10px;
  border-bottom: 1px solid #eee;
  padding: 5px 0px;
}
.header-search .h-search-wrap .h-search-inpt .h-search-content .h-search-item .img {
  height: 60px;
  width: 60px;
  flex-shrink: 0;
}
.header-search .h-search-wrap .h-search-inpt .h-search-content .h-search-item img {
  width: 100%;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}

@media (max-width: 991px) {
  .m-mobile, .m-menu {
    display: flex;
  }
  #header .desktop-menu {
    transition: left 0.3s ease;
    visibility: hidden;
    opacity: 0;
    left: -100%;
    top: 90px;
    position: absolute;
    display: unset;
    padding: 20px 10px;
  }
  #header .desktop-menu ul li {
    padding: 0px;
    padding-bottom: 15px;
  }
  #header .header-wrapper {
    flex-direction: row-reverse;
  }
}
.scrolltoTop {
  position: fixed;
  right: 50px;
  bottom: 50px;
  background: green;
  padding: 4px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

#footer {
  background: #1A202C;
  padding: 60px 0px 35px;
  color: #fff;
}
#footer ul {
  list-style: none;
}
#footer ul li a {
  color: #fff;
  transition: all 0.3s ease;
}
#footer ul li a:hover {
  color: #ff3850;
  text-decoration: underline;
}
#footer .footer-social {
  margin: 15px 0px;
}
#footer .footer-social ul {
  gap: 15px;
}
#footer .logo-ft {
  max-width: 200px;
}
#footer .ft-title {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 18px;
}

.sub-footer {
  text-align: center;
  background: #1A202C;
  color: #fff;
  padding: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px solid #2D3748;
}
.sub-footer a {
  color: #ff3850;
  text-decoration: underline;
}

.devlogin {
  position: relative;
  z-index: 3;
  height: 100vh;
}
.devlogin .login-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}
.devlogin .devAccount-form-wrapper {
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  max-width: 400px;
  padding: 32px;
  border-radius: 8px;
  width: 400px;
}
.devlogin .devAccount-item {
  position: relative;
  margin-top: 10px;
}
.devlogin .devAccount-item input {
  width: 100%;
}
.devlogin .devAccount-item svg {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
}
.devlogin .devAccount-item svg fill {
  color: #eee;
}
.devlogin .devAccount-item.devRegis-itemChoose {
  display: flex;
  align-items: center;
}
.devlogin .devAccount-item .Regislink {
  margin: 4px;
}

#devRegis-btn, #devLogin-btn, #devLostPass-btn {
  background: linear-gradient(79.12deg, #531f8f 24.63%, #f0407b 121.89%);
  width: 100%;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 13px;
  border-radius: 4px;
  transition: all 0.4s ease;
  letter-spacing: 4px;
}
#devRegis-btn:hover, #devLogin-btn:hover, #devLostPass-btn:hover {
  cursor: pointer;
  opacity: 0.9;
}

.have-regis {
  display: block;
  padding-bottom: 10px;
}
.have-regis a {
  text-decoration: none;
  color: #f0407b;
  transition: all 0.3s ease;
}
.have-regis a:hover {
  text-decoration: underline;
}

.devAccount-alert .error {
  color: red;
  padding: 10px 0px 0px;
}

.show-password-icon:hover {
  cursor: pointer;
}

#forgotpwd .error {
  color: red;
  line-height: 1.5;
  padding-bottom: 15px;
}
#forgotpwd .success {
  color: #198754;
  background: none;
  line-height: 1.5;
  padding-bottom: 15px;
}
#forgotpwd .loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #0d6efd;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display: none;
  margin: 0px auto;
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 575px) {
  .devlogin .devAccount-form-wrapper {
    width: 100%;
  }
}
.single .breadcrumb {
  display: flex;
  list-style: none;
  gap: 10px;
}
.single P, .single h2, .single h3, .single h4, .single h5, .single h6 {
  margin-bottom: 15px;
}
.single .view::before, .single .author-name::before {
  content: "|";
  padding: 0 10px 0 8px;
}
.single .post-time .item {
  color: #8694a3;
}

@media (max-width: 991px) {
  .single .post-title {
    font-size: 30px;
  }
}
.c-content {
  padding: 50px 0px;
}
.c-content .container {
  max-width: 1200px;
}
.c-content ul {
  list-style: none;
}
.c-content .c-sidebar > ul > li {
  margin-bottom: 20px;
}
.c-content .c-sidebar > ul > li > a {
  display: block;
  text-decoration: none;
  color: #1A1616;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  padding: 5px 0;
}
.c-content .c-sidebar > ul > li ul li a {
  color: #8C8C8C;
  font-size: 17px;
  font-weight: 600;
  padding: 8px 0;
  text-decoration: none;
  line-height: 1.2;
  display: inline-block;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #eee;
}

body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgb(145, 142, 142);
}

body::-webkit-scrollbar-track {
  border-radius: 4px;
  margin: 8px;
  padding-right: 6px;
}

.pagi, .pagi-search {
  display: table;
  margin: 30px auto;
}
.pagi .paginate_links, .pagi .nav-links, .pagi-search .paginate_links, .pagi-search .nav-links {
  display: flex;
}
.pagi a, .pagi span, .pagi-search a, .pagi-search span {
  border: 1px solid #eee;
  padding: 4px;
  height: 40px;
  padding: 6px 14px;
  display: flex;
  align-items: center;
}
.pagi a.current, .pagi span.current, .pagi-search a.current, .pagi-search span.current {
  color: #f0407b;
}
.pagi a:hover, .pagi span:hover, .pagi-search a:hover, .pagi-search span:hover {
  background-color: #e9ecef;
}/*# sourceMappingURL=custom.css.map */