.blog-content{
    position: relative;
    .blog-main-post{
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        .section-blog-box{
            width: calc(100%/3 - 20px);
            .item-img{
                img{
                    // aspect-ratio: 4/3;
                    max-height: 200px;
                    object-fit: cover;
                }
            }
        }
    }
    .head-item{
        color: #8694a3;
        display: inline-block;
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 0px;
        letter-spacing: 1.7px;
        text-decoration: none;
        text-transform: uppercase;
        display: flex;
        .date,.post-view{
            &::before{
                content: "|";
                padding: 0 10px 0 8px;  
            }
        }
       
    }
    .item-body-title{
        padding: 10px 0px;
    }
    .item-body-text{
        color: #181721;
        font-size: 15px;
    }
    
}
.blog-spin{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
    z-index: 2;
    width: 100%;
    height: 100%;
    display: none;
    &.active{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.drive-progresser__bar {
    width: 4rem;
    height: .7rem;
    border-radius: 1rem;
    overflow: hidden;
    background-color: #f0407b;
}
.drive-progresser__bar-item {
    width: 3rem;
    height: .7rem;
    margin: 0 0 0 -2rem;
    border-radius: 1rem;
    background-color: #531f8f;
    -webkit-animation: progresser 1.5s infinite cubic-bezier(0.76, 0, 0.24, 1);
    animation: progresser 1.5s infinite cubic-bezier(0.76, 0, 0.24, 1);
}
@keyframes progresser{
    0% {
        transform: translateX(0);
    }
    50% { 
        transform: translateX(7rem);
    }
    
    100% {
        transform: translateX(0);
    }
}
#blog{
    position: relative;
    .page-header{
        background-color: #ff3850;
        padding: 50px 0px;
        text-align: center;
        margin: 0px 0px 50px;
        &:before{
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba(255, 56, 80, 1) 0%, rgba(255, 56, 80, 0.5) 50%, rgba(255, 56, 80, 1) 100%) !important;
            display: block;
            clear: none;
        }
        .search-blog{
            position: relative;
            z-index: 3;
            color: #fff;
            form{
                max-width: 350px;
                margin: 0px auto;
                background: #fff;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 6px;
                height: 50px;
                overflow: hidden;
                input{
                    border: none;
                    height: 100%;
                    width: calc(100% - 50px);
                }
                button.button-search{
                    margin: 0px;
                    width: 50px;
                    height: 100%;
                    min-width: unset;
                    cursor: pointer;
                    padding: 0px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:hover{
                        background: #eee;
                       
                    }
                    svg{
                        margin: 0px;
                    }
                }
            }
        }
    }
}
.progress {
    display: block;
    text-align: center;
    width: 0;
    height: 4px;
    background: green;
    transition: width .3s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
.progress.hide {
    opacity: 0;
    transition: opacity 1.3s;
}

@media (max-width:991px){
    .blog-content .blog-main-post .section-blog-box{
        width: calc(50% - 15px);
    }
}

@media (max-width:575px){
    .blog-content .blog-main-post .section-blog-box{
        width: 100%;
    }
}